@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Wendy+One&display=swap');
/*Title Text*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/*Paragraph Text*/

body {
    font-family: 'Jersey 15', 'sans-serif';

    --bgcolor: black;
    --primarycolor: rgb(42, 15, 61, .75);
    --textcolor: white;
    --textcolor2: rgb(240, 240, 60);

    background-color: var(--bgcolor);
    background-image: url('../images/bg1.png');
    background-size: 500px;
    background-repeat: repeat;
}

p {
    color: var(--textcolor);
    font-size: 40px;
    font-family: 'Jersey 15', 'sans-serif';
    text-align: center;
}

footer {
    font-size: 30px;
    color: var(--textcolor);
    background-color: var(--primarycolor);
    text-align: right;
    border-top: solid .25vh yellow;
}

h1 {
    color: var(--textcolor2);
    font-size: 85px;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: var(--primarycolor);
    border-radius: 50px;
    max-width: fit-content;
    border: solid .5vh yellow;
}

h2 {
    color: var(--textcolor);
    font-size: 45px;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
}

.firstimg {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    place-content: center;
    /* max-width: 1000px; */
    margin-top: 100px;
    margin-bottom: 60px;
    min-height: 300px;
    object-fit: cover;
}

.firsttextbox {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--primarycolor);
    margin: auto;
    margin-bottom: 100px;
    /* margin-left:60px;
    margin-right:60px; */
    padding: 15px;
    border-top: solid .5vh yellow;
    border-bottom: solid .5vh yellow;
}

.firsttextbox>p {
    margin: auto;
    max-width: 1300px;
}

.gamestogoover {
    background-color: var(--primarycolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 50px;
    max-width: 1200px;
    border-radius: 10px;
    border: solid .5vh yellow;
}

.gamestogoover>h2 {
    grid-column: span 2;
}

.gamestogooverdescription {
    font-size: 30px;
    margin-bottom: 30px;
}

.gridsection {
    /* max-height: 400px; */
    margin: auto;
}

.gridsection>img {
    max-height: 600px;
}

.gamesection {
    margin: auto;
    max-width: 1100px;
    margin-bottom: 100px;
}

.gamesection>h2 {
    font-size: 60px;
}

.titlegamelabel {
    text-align: left;
    /* font-size: 60px; */
}

.gamename {
    /* font-size: 75px; */
    padding: 10px;
}

.gameimage {
    min-height: 300px;
    object-fit: cover;
    border: solid .5vh yellow;
    box-shadow: 0px 10px rgb(255, 255, 0, .25);
}

.gamedesc {
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: var(--bgcolor);
    border: solid .25vh yellow;
    box-shadow: 0px 10px rgb(255, 255, 0, .25);
}

.mechanicsgrid {
    background-color: var(--primarycolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 50px;
    padding: 15px;
    gap: 25px;
    max-width: 1500px;
    border: solid .5vh yellow;
}

.carouselimg {
    min-height: 300px;
    object-fit: cover;
    border: solid .5vh yellow;
}

.gamestogooverline{
    background-color: white;
    height: 4px;
    width: 650px;
    margin: -5px auto 30px;
}

.separator {
    background: linear-gradient(90deg, 
        rgb(221, 254, 4), 
        rgb(94, 255, 0) 47%, 
        /* white 49%,
        white 51%, */
        rgb(0, 255, 255) 53%,
        rgba(25, 0, 255, 0.5) 100%
    );
    
    background-size: 200% 100%;

    height: 5px;
    width: 650px;
    margin: -10px auto 30px;

    animation: slide 7s ease-in-out infinite alternate;
}

@keyframes slide {
    from {
        background-position: 0;
    }

    to {
        background-position: 100%;
    }
}












@media screen and (width <=1100px) {
    .mechanicsgrid {
        grid-template-columns: 1fr 1fr;
    }

    .mechanicsection:last-child {
        grid-column: span 2;
        max-width: 500px;
        margin: auto;
    }

    .titlegamelabel {
        font-size: 60px;
    }
}

@media screen and (width <=700px) {

    .gamestogoover {
        grid-template-columns: 1fr;
    }

    .gamestogoover>h2 {
        grid-column: span 1;
    }

    .mechanicsgrid {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

    .mechanicsection:last-child {
        grid-column: span 1;
    }

    .titlegamelabel {
        text-align: center;
    }

    /* .titlegamelabel {
            font-size: 20px;
        }
            having trouble with font sizes not working
             */
}